.btn{
padding: 10px 15px;
  width: 250px;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: transparent;
  letter-spacing: 1.5px;
    color: #0f3b67;
    font-weight: bold;
}
.btn:hover{
    cursor: pointer;
}