body{
    margin: 0;
}
.hero{
    height: 100vh;
}
.hero-image{
position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: fill;
  top: 0;
  z-index: -9999999;
}
.header-container{
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: fit-content;
    height: fit-content;
    font-size: medium;
    margin: 0;
    border: 2px solid white;
    padding: 8px;
    text-align: center;
    color: #0f3b67;
    border-radius: 50%;
}
.links{
    list-style: none;
    display: flex;
    gap: 15px;
}
a{
    text-decoration: none;
    color: #0f3b67;
    font-size: large;
    font-size: 16px;
    
}
@media (min-width:400px) {
    a{
        font-size: 24px;
    }
}






